.slogan {
    position: relative;
    height: 130px;
    padding: var(--page-padding);
    display: flex;
    justify-content: center;
    color: white;
    line-height: 40px;
    background: var(--theme-dark); // dark mode

    .logoTitle {
        height: 100%;
        display: flex;
        align-items: center;
        font-size: 30px;

        .sloganText {
            position: relative;
            display: inline-block;
            font-family: Nunito;
        }

        .logo {
            height: 35%;
            width: max-content;
        }
    }

    @media screen and (max-width: 900px) {
        font-size: 30px !important;
        line-height: 30px !important;

        .logoTitle {
            font-size: 40px !important;
        }
    }

    @media screen and (max-width: 700px) {
        font-size: 20px !important;
        line-height: 20px !important;

        .logoTitle {
            font-size: 30px !important;
        }
    }

    @media screen and (max-width: 600px) {
        font-size: 18px !important;
        line-height: 18px !important;
        height: 100px;

        .logoTitle {
            font-size: 24px !important;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .logo{
                height: 30px;
            }
            h2 {
                font-size: 24px !important;
            }
        }
    }
}